<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript">
        <script src="signin.js"></script>

    </head>

    <body>

    <div ng-app="postserviceApp" ng-controller="postserviceCtrl">

    <div>

        Name : <input ng-model="name" /><br/><br/>

        Age : <input ng-model="age" /><br/><br/>

        Address : <input ng-model="address" /><br/><br/>
    <h1>{{currentselecteduser}}</h1>
    <input type="submit" value="Send" ng-click="postdata(name, age, address)" /> <br/><br/>
 
    </div>
    <h1 ng-if="data&&data.length">Users in db</h1>
    <div ng-repeat="x in data">
        <md-button class="btn1"  ng-click="acceptOffer(x);">{{x.name}}</md-button>
    </div>
    
    </div>

    </body>

</html>